body{
	background: url(https://images.unsplash.com/photo-1445620466293-d6316372ab59?dpr=1&auto=compress,format&fit=crop&w=376&h=282&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: center;
	font-family: lato;
	color: white;
}

a{
	color: #2c3e50;
}

h2{
	color: #ecf0f1;
}

h4{
	color: #ecf0f1;
}